<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Nahar Shalom Schedule" %></title>

    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "all" %>

    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
    <%= javascript_include_tag  "http://momentjs.com/static/js/global.js" %>
    <% unless development? %>
      <%= javascript_include_tag  "http://cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js" %>
    <% end %>
    <%= javascript_include_tag  "all" %>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
