<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Nahar Shalom Schedule" %></title>

    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "all" %>

    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
    <%= javascript_include_tag  "http://momentjs.com/static/js/global.js" %>
    <% unless development? %>
      <%= javascript_include_tag  "https://cdn.ravenjs.com/2.3.0/raven.min.js" %>
    <% end %>
    <%= javascript_include_tag  current_page.path.gsub(".html", "") %>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <% unless development? %>
      <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '<%= current_page.data.tracking_id %>', 'auto');ga('send', 'pageview');
      </script>
    <% end %>
  </body>
</html>
