!!!
%html
  %head
    %meta{content: "IE=edge", 'http-equiv' => "X-UA-Compatible"}
    %meta{charset: "utf-8"}
    %meta{charset: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport"}

    %title
      = current_page.data.title || "Nahar Shalom Schedule"

    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:300,400'
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    = stylesheet_link_tag :site

    = javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
    = javascript_include_tag  "http://momentjs.com/static/js/global.js"
    - unless development?
      = javascript_include_tag  "https://cdn.ravenjs.com/2.3.0/raven.min.js"
    = javascript_include_tag  current_page.path.gsub(".html", "")
    :javascript
      $(function(){ moment.locale('en'); });

  %body{class: page_classes}
    = yield
    - unless development?
      :javascript
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', '#{current_page.data.tracking_id}', 'auto');ga('send', 'pageview');
