!!!
%html
  %head
    %meta{content: "IE=edge", 'http-equiv': "X-UA-Compatible"}
    %meta{charset: "utf-8"}
    %meta{charset: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport"}

    %title
      = current_page.data.title || "Nahar Shalom Schedule"

    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Lato:300,400"
    = stylesheet_link_tag "//cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    = stylesheet_link_tag :site

    = javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
    = javascript_include_tag  "//momentjs.com/static/js/global.js"
    - unless development?
      = javascript_include_tag  "//cdn.ravenjs.com/2.3.0/raven.min.js"
      = javascript_include_tag  "//www.googletagmanager.com/gtag/js?id=#{current_page.data.tracking_id}", async: true
    = javascript_include_tag  current_page.path.gsub(".html", "")
    :javascript
      $(function(){ moment.locale('en'); });

  %body{class: page_classes}
    = yield
    - unless development?
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '#{current_page.data.tracking_id}');
