;;;
"layout": false
;;;
%html
  %head
    %meta{:charset => "utf-8"}
    %title Nahar Shalom Schedule Tests
    = javascript_include_tag  "http:///ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
    = javascript_include_tag  "http://momentjs.com/static/js/global.js"
    = javascript_include_tag  :qunit
    = javascript_include_tag  "http://code.jquery.com/qunit/qunit-1.23.1.js"
    = stylesheet_link_tag "http://code.jquery.com/qunit/qunit-1.23.1.css"
  %body
    #qunit
